torch
torchvision
torchmetrics
datasets
accelerate
safetensors
transformers
numpy
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
wget
opencv-python
waveprop

black
isort
pre-commit

slm_controller @ git+https://github.com/ebezzam/slm-controller.git